  <a href="/"><img class="minilogo" src="images/white.png"></a>
  
  <p class="lead topmargin">
    Calling all travellers.
    <br> Connect with a global community of nomads and get first-hand tips before you jet off to your dream places.
    <br> Then come back, keep the karma going and share your best lessons with someone else.
  </p>

  <form action="/login" method="post">

    <br>


      <div>
      <h4>Username:</h4>
      </div>
      <div class="center">
        <input type="text" name="username" value="<%= @user && @user.username %>">
      </div>

    <br>

      <div>
        <h4>Password:</h4>
      </div>
      <div class="center">
          <input type="text" name="password" value="<%= @user && @user.password %>">
      </div>
      <div>
    </div>

    <br>

    <div class="center"><a href="/login" class="btn btn-default">Log in</a></div>

  </form>

  <% if @user && @user.errors.any? %>
    <div>
      <strong>Email or password seems invalid, please fix:</strong>
      <ul>
        <% @user.errors.full_users.each do |user| %>
          <li><%= user %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

    <h4>Don't have a login?</h4>
    <div class="center"><a href="/signup" class="btn btn-default">Sign up</a></div>