<br>
</br>
<form action="/login" method="post">

<div class="centerwhite">Calling all Travellers.</div>
</br>

  <div class="centerwhite">
    <label>Username:</label>
  </div>
  <div class="center">
    <input type="text" name="username" value="<%= @user && @user.username %>">
  </div>

<br>

  <div class="centerwhite">
    <label>Password:</label>
  </div>
  <div class="center">
      <input type="text" name="password" value="<%= @user && @user.password %>">
  </div>

  <div class="center">
    <input type="submit" value="Submit">
  </div>

</form>

<% if @user && @user.errors.any? %>
  <div>
    <strong>Email or password seems invalid, please fix:</strong>
    <ul>
      <% @user.errors.full_users.each do |user| %>
        <li><%= user %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br>
<div class="centerwhite">Don't have a login?</div>
  <form action="/signup">
    <div class="center"><input type="submit" value="Sign up"></div>
</form>