  <a href="/"><img class="minilogo" src="images/white.png"></a>

  <form action="/signup" method="post">

    <h4>Username:</h4>
    <div class="center">
      <input type="text" name="username" value="<%= @user && @user.username %>">
    </div>

    <br>

    <h4>Email:</h4>
    <div class="center">
      <input type="text" name="email" value="<%= @user && @user.email %>">
    </div>

    <br>

    <h4>Password:</h4>
    <div class="center">
        <input type="text" name="password" value="<%= @user && @user.password %>">
    </div>

    <br>

    <div class="center">
    <a href="/signup" class="btn btn-default">Sign up</a>
    </div>

</form>

<% if @user && @user.errors.any? %>
  <div>
    <strong>Email or password seems invalid, please fix:</strong>
    <ul>
      <% @user.errors.full_users.each do |user| %>
        <li><%= user %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <br>

  <h4>Hold up. Got an account with us already?</h4>
  <div class="center"><a href="/login" class="btn btn-default">Log in</a></div>