  <a href="/"><img class="minilogo" src="images/white.png"></a>

<!--   <form action="/addcountry/:route/:country" method="post"> -->
    
    <input type="text" id="past_countries_box" class="country_box" value="" placeholder="I've already hit up..." />

    <ul id="p_country_list" class="country_list">
    </ul>

    <input type="text" id="future_countries_box" class="country_box" value="" placeholder="I want to jet off to..." />

    <ul id="f_country_list" class="country_list">
    </ul>

    <!-- <div class="center">
      <input class="btn btn-default" type="submit" value="Done">
    </div> -->

<!--   </form> -->