  <a href="/"><img class="minilogo" src="images/white.png"></a>
  
  <input type="text" id="past_countries_box" class="country_box" value="" placeholder="I've already hit up..." />

  <ul id="p_country_list">
  </ul>

  <input type="text" id="future_countries_box" class="country_box" value="" placeholder="I want to jet off to..." />

  <ul id="f_country_list">
  </ul>