<div id="todo" style="margin: 20 px; padding-top: 2px" class="droppedHover">
    <div class="corner">
        <% if current_user %>
          <div>
          <a href="/" class="btn btn-warning disabled">Log out</a>
          </div>
        <% else %>
          <div>
          <a href="/login" class="btn btn-warning disabled">Log in</a>
          </div>
        <% end %>
    </div>
    <br>

    <div class="container-fluid">

    

    <h1><%=@current_user.username%></h1>

      <hr class="">
        <div class="row">
          <div class="col-sm-4 col-md-4" style="">

             <div class="container" id="imageperfil">
                  <img src="/images/profilepic.jpg" class="">
              </div>
              <hr class="">

              <!-- FIX ME TO BE AN IF STATEMENT -->
              <center>  <strong style="" class="">Get in touch!</strong>

              </center>
              <hr class="">
              <br class=""> <strong class="">Sexo: </strong> Hombre
              <br class=""> <strong class="">Estado: </strong> Soltero
              <br class=""> <strong class="">Fecha de nacimiento:</strong> 
              <br class="">
              <center class="">05-02-1991</center>
              <br class=""> <strong class="">Estado: </strong> Soltero
              <br class=""> <strong class="">Residencia</strong> 
              <br class="">
              <center class="">Cunit-Lardero</center>
              <hr class="">
          </div>




            <div class="col-sm-4 col-md-4">

              <ul id="listStuff" class="nav nav-tabs nav-stacked">
                  <li class="list-child"><a class=""><h4 class="blackheader">THE HIT LIST</h4></a>

                  </li>
                  <li class="list-child"> <a class="">Future Countries</a>

                  </li>
                  <li class="list-child"><a href="/countries" class=""><h6 class="blackheader">EDIT</h6></a>

                  </li>
              </ul>
            </div>

            <div class="col-sm-4 col-md-4">

              <ul id="listStuff" class="nav nav-tabs nav-stacked">
                  <li class="list-child"><a class=""><h4 class="blackheader">BEEN THERE. SEEN THAT.</h4></a>

                  </li>
                  <li class="list-child"> <a class="">Past Countries</a>
                  
                  </li>
                  <li class="list-child"><a href="/countries" class=""><h6 class="blackheader">EDIT</h6></a>

                  </li>
              </ul>
            </div>

              <ul class="pagination pager list-pager pagination-xs"></ul>
          </div>
      <div class="container"></div>
  </div>
</div>


<!-- <div class="container-fluid fill">

  <div class="row">

    <div class="col-md-4 profilepic">
      <img class="profilepic" src="https://scontent-b-sea.xx.fbcdn.net/hphotos-xfa1/t1.0-9/s720x720/179556_10151953940110254_1247289906_n.jpg">
    </div>

    <div class="col-md-8 profile">

      <div class="corner">
        <% if current_user %>
          <div>
          <a href="/" class="btn btn-default">Log out</a>
          </div>
        <% else %>
          <div>
          <a href="/login" class="btn btn-default">Log in</a>
          </div>
        <% end %>
      </div>

      <h1 class="blackheader"><%=@current_user.username%></h1>

      <div><h3 class="blackheader">These are a list of my Dream Places. Been to any?</h3></div>
      <br>
      <div><h3 class="blackheader">Placeholder Place
      <br>Placeholder Place
      <br>Placeholder Place
      <br>Placeholder Place
      <br>Placeholder Place</h3></div>

      <div><h3 class="blackheader">Been here. Seen that.</h3></div>
      <br>
      <h4 class="contentio">Placeholder Place
      <br>Placeholder Place
      <br>Placeholder Place
      <br>Placeholder Place
      <br>Placeholder Place</h4>
    </div>
  </div>
</div> -->